*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/.idea/inspectionProfiles/Project_Default.xml
app/.idea/misc.xml
app/src/main/java/com/example/padsou/MainActivity.kt
app/.idea/misc.xml
app/src/main/java/com/example/padsou/MainActivity.kt
